- name: Crear secretos para los servicios
  block:
    - name: Crear secreto para postgres events
      ansible.builtin.command: kubectl apply -f postgres-secret.yaml
      args:
        chdir: "{{ k8s_bd_events_path }}"

    - name: Crear secreto para postgres auth
      ansible.builtin.command: kubectl apply -f postgres-secret.yaml
      args:
        chdir: "{{ k8s_bd_auth_path }}"

    - name: Verificar la creación del secreto de postgres
      ansible.builtin.command: kubectl get secrets -n postgres
      register: secret_output_postgres

    - name: Mostrar el resultado de la verificación del secreto de postgres
      ansible.builtin.debug:
        msg: "{{ secret_output_postgres.stdout_lines }}"

    - name: Crear secreto para swyw events backend
      ansible.builtin.command: kubectl apply -f  secrets.yaml
      args:
        chdir: "{{ k8s_backend_events_path }}"

    - name: Crear secreto para swyw auth backend
      ansible.builtin.command: kubectl apply -f  secrets.yaml
      args:
        chdir: "{{ k8s_backend_auth_path }}"

    - name: Crear secreto para swyw frontend
      ansible.builtin.command: kubectl apply -f  secrets.yaml
      args:
        chdir: "{{ k8s_frontend_path }}"
