- name: Crear namespaces requeridos para el proyecto.
  block:
    - name: Crear el namespace swyw
      ansible.builtin.command: kubectl apply -f ns.yaml
      args:
        chdir: "{{k8s_backend_events_path}}"

    - name: Verificar la creaci贸n del namespace swyw
      ansible.builtin.command: kubectl get namespaces
      register: ns_output

    - name: Mostrar el resultado de la verificaci贸n
      ansible.builtin.debug:
        msg: "{{ ns_output.stdout_lines }}"

    - name: Crear el namespace postgres
      ansible.builtin.command: kubectl apply -f ns.yaml
      args:
        chdir: "{{k8s_bd_events_path}}"

    - name: Verificar la creaci贸n del namespace postgres
      ansible.builtin.command: kubectl get namespaces
      register: ns_output_postgres

    - name: Mostrar el resultado de la verificaci贸n del namespace postgres
      ansible.builtin.debug:
        msg: "{{ ns_output_postgres.stdout_lines }}"
